<form action="/landmarks" method="POST">
  <label for="name"></label>
    <input id ="landmark_name" type="text" name="landmark[name]">
  <label for="figure_id"></label>
    <input id ="figure_id" type="text" name="landmark[figure_id]">
  <label for="year_completed"></label>
    <input id ="landmark_year_completed" type="text" name="landmark[year_completed]">
    <input type="submit" value="Create New Landmark">
</form>
